    <div class="container">
        <div class="row px-3">
            <div class="col-lg-10 col-x1-9 card flex-row mx-auto px-0">
                <div class="img-left d-none d-md-flex">
                    <img src="/image/pexels-tembela-bohle-1884579.jpg" alt="">
                </div>
                <div class="card-body">
                    <h4 class="title text-center mt-4">Đăng Kí</h4>
                    <form action="" class="form-box px-3">
                        <div class="form-input">
                            <span><i class="fa fa-envelope"></i></span>
                            <input type="email" name="" placeholder="Email" tabindex="10" required>
                        </div>
                        <div class="form-input">
                            <span><i class="fa fa-key"></i></span>
                            <input type="password" name="" placeholder="Mật Khẩu" required>
                        </div>
                        <div class="form-input">
                            <span><i class="fa fa-key"></i></span>
                            <input type="password" name="" placeholder="Nhập lại Mật Khẩu" required>
                        </div>
            
                        <div class="mb-3">
                            <button type="submit" class="btn btn-block text-uppercase">Đăng Ký</button>
                        </div>
                        <hr class="my-4">
                    </form>
                </div>
            </div>
        </div>
    </div>